# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=

# Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Backend FastAPI
EXPO_PUBLIC_API_URL=http://192.168.1.X:8000

# Dev
EXPO_PUBLIC_ENABLE_DEV_LOGS=true