# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoieGxvcmVueiIsImEiOiJjbXBmMzVpY2MwYW5iMnFwbDFnYnkzeDFuIn0.RJwUnPeGRPXcHwRQpdq3zQ

# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://fzwkoporkhvwblmevllx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6d2tvcG9ya2h2d2JsbWV2bGx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMjQ0MjksImV4cCI6MjA5NDkwMDQyOX0.R3mE1UFtE051BI_04LJfWGjKallwbW2k05gV1uilWEU

# Backend FastAPI
EXPO_PUBLIC_API_URL=http://192.168.1.X:8000

# Dev
EXPO_PUBLIC_ENABLE_DEV_LOGS=true

RNMAPBOX_MAPS_DOWNLOAD_TOKEN=sk.eyJ1IjoieGxvcmVueiIsImEiOiJjbXBmM2RlbDgwNWo0MnBvcjR6eDVsaG92In0.Z4rE-no2lCL00CQm7xyKrw

MAPBOX_PUBLIC_TOKEN=pk.eyJ1IjoieGxvcmVueiIsImEiOiJjbXBmMzVpY2MwYW5iMnFwbDFnYnkzeDFuIn0.RJwUnPeGRPXcHwRQpdq3zQ